/* .vitepress/theme/custom.css */
@font-face {
  font-family: "ClassicXtraRound";
  src: url("/assets/ClassicXtraRound-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Cascursive";
  src: url("/assets/Cascursive Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cascursive";
  src: url("/assets/Cascursive Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /*Main Fonts*/
  --vp-font-family-base: "ClassicXtraRound", sans-serif;
  --vp-font-family-mono: "Cascursive", monospace;

  /* Chip Colors */
  --vp-badge-info-border: transparent;
  --vp-badge-info-text: var(--vp-c-text-2);
  --vp-badge-info-bg: var(--vp-c-default-soft);

  --vp-badge-tip-border: transparent;
  --vp-badge-tip-text: var(--vp-c-brand-1);
  --vp-badge-tip-bg: var(--vp-c-brand-soft);

  --vp-badge-warning-border: transparent;
  --vp-badge-warning-text: var(--vp-c-warning-1);
  --vp-badge-warning-bg: var(--vp-c-warning-soft);

  --vp-badge-danger-border: transparent;
  --vp-badge-danger-text: var(--vp-c-danger-1);
  --vp-badge-danger-bg: var(--vp-c-danger-soft);
}

/* Code block */
pre.shiki.shiki-themes.catppuccin-macchiato.night-owl.vp-code {
  background-color: rgb(1, 22, 39) !important;
}

/* Dropcap letter */
.dropcap {
  font-size: 3em;
  font-weight: bold;
}
